<div class="page">
  <h1>Kaizen</h1>
  <div class="content">
    <div class="center">
      <img src={{bookDetails.imageLinks.thumbnail}} alt="Book thumbnail" class="book-image">
    </div>
    <h3>{{bookDetails.title}}</h3>
    <p>{{bookDetails.subtitle}}</p>

    <p>By: {{bookDetails.authors.join(', ')}}</p>

    <div innerHTML="{{bookDetails.description}}">
    </div>
    <button mat-raised-button (click)="toread($event)">To Read</button>
    <button mat-raised-button (click)='read($event)'>Read</button>
    <button mat-raised-button (click)='favourite($event)'>Favourite</button>
    <button mat-stroked-button class="back" routerLink="/books">Back</button>
  </div>
</div>
